.cartContainner {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  min-width: 25%;
  max-width: 300px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 100;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.aCart {
  color: #2196F3;
}

.hrCart {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

.closeCart{
  text-align: right;
}
