.spacer-map{
    margin-top: 5%;
}
.DayPicker{
    background-color: #ffffff;
}

/* not active */
.nav .item-1 .nav-link:not(.active){
    color: #233237;
    text-decoration: none;
}

.nav .item-2 .nav-link:not(.active){
    color: #233237;
    text-decoration: none;
}

.nav .item-3 .nav-link:not(.active){
    color: #233237;
    text-decoration: none;
}
.nav .item-4 .nav-link:not(.active){
    color: #233237;
    text-decoration: none;
}

/* active */
.nav .item-1 .nav-link {
    outline: none;
    color: #233237;
    text-decoration: underline;
}

.nav .item-2 .nav-link {
    outline: none;
    color: #233237;
    text-decoration: underline;
}
.nav .item-3 .nav-link {
    outline: none;
    color: #233237;
    text-decoration: underline;
}
.nav .item-4 .nav-link {
    outline: none;
    color: #233237;
    text-decoration: underline;
}

.nav-link{
    font-size: 20px;
}

.react-bingmaps{
    position: absolute !important;
    top:65px !important;
    height: 350px !important;
}

.underTheMap{
    margin-top: 415px;
}